# Dependências
node_modules/
package-lock.json
yarn.lock

# Logs
*.log
npm-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
.env.local

# Build
dist/
build/

# Testing
coverage/
.nyc_output/